{% extends "layout.html" %}
{% block content %}
        <h1><br>Secure Notes Home Page</h1><br><br>
    <p style="text-align: justify">This web application has been developed as part of an academic assignment through the National College of Ireland.</p>

    <p style="text-align: justify">The use of this website is for academic purposes only and no personal information should be uploaded or stored.</p>

    This web application currently allows the following functionality;<br><br>
        <UL>
        <Li>Create/Register/Login Account<br>
        <Li>Create Notes<br>
        <Li>Update Notes<br>
        <Li>Delete Notes<br>
        <Li>View Saved Notes<br>
        </UL>

{% endblock content %}