{% extends "layout.html" %}
{% block content %}
     {% if current_user.is_authenticated %}
    <h3>Greetings {{current_user.username}}</h3>
    {% endif %}
        <h1><br>Secure Notes Home Page</h1><br><br>
    <p style="text-align: justify">This web application has been developed as part of an academic assignment through the National College of Ireland.</p>

    <p style="text-align: justify">The use of this website is for academic purposes only and no personal information should be uploaded or stored.</p>

    This web application currently allows the following functionality;<br><br>
        <UL>
        <Li>Create/Register/Login Account<br>
        <Li>View/update Account details<br>
        <Li>Add/Change a profile picture<br>
        <Li>Create Notes<br>
        <Li>Update Notes<br>
        <Li>Delete Notes<br>
        <Li>View Saved Notes<br>
        </UL>


{% endblock content %}